<div class="swift">
    <div class="swift-nav">
        <div class="swift-nav__logo">
            <img src="assets/logo/swift-logo.svg" alt="swift-logo" />
        </div>
        <div class="swift-nav__text">Swift JSON Helper</div>
        <div class="swift-nav__menu">
            <button>
                <mat-icon aria-hidden="false" aria-label="Switch theme" fontIcon="light_mode"></mat-icon>
            </button>
            <a routerLink="/data-parser">Data Parser</a>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>
